<head>
    <!--Usando EJS para reutilizar partes de código e javascript no html-->
    <%- include partials/header.ejs %>
    <title>index</title>
</head>

<body>
    <%- include partials/navbar.ejs %>
    
    <div class="container">

        <div class="d-flex w-100 mb-2">
            <a href="/perguntar" class="btn btn-danger w-100">Perguntar</a>
        </div>

        <!-- Notificação para pergunta deletada-->
        <% if(deletedInfo == true) { %>
            <div class="d-flex">
                <div class="alert alert-primary w-100" role="alert" id="info">
                        A pergunta "<%= tituloPergunta %>" foi deletada
                 </div>
            </div>
            
        <% } %>
        
        <!-- laço lista todas as perguntas vindas do back-end -->
        <% perguntas.forEach(pergunta => { %>
            <div class="card bg-dark text-light mt-2 ">
                <div class="card-body">
                    <div class="card-title border-bottom h4"><%= pergunta.titulo %> </div>
                    <div class="card-text"><%= pergunta.descricao %> </div>
                    <div class="w-100 d-flex">

                        <!-- atribui a cada botão um href com o id de cada pergunta -->
                       <a href="/pergunta/<%= pergunta.id %>"> <button class="btn btn-danger m">Responder</button> </a>
                    </div>
                    
                </div>
                
            </div>
        <% }) %>

    </div>

    <%- include partials/scripts.ejs %>

    <script>
        // função para exibir notificação 
        (function init(){
            var info = document.getElementById("info")

            // verifica se o objeto existe, pois só é criado se a rota para /deletarPergunta for acessada
            var existence = document.body.contains(info) 
            if(existence){

                setTimeout(function x(){
                    info.classList.toggle("fade")
                },4000)

                setTimeout(function x2(){
                    info.classList.toggle("d-none")
                },8000)

            }
        })()
            
    </script>
</body>