<%- include partials/header.ejs %>
<body>
    <!--Página renderizada resgatando a variável "pergunta" do back-end -->

    <%- include partials/navbar.ejs %>
    <div class="container">
        
        <div class="list-group list-group-flush text-light">
            <div class="list-group-item bg-dark">

                <!-- form para envolver o botão que exclui a pergunta-->
                <form method="post" action="/deletarPergunta">

                    <!-- inputs que enviam ao back-end id e titulo sem mostrar ao usuário -->
                    <input type="hidden" name="perguntaId" value="<%= pergunta.id %>">
                    <input type="hidden" name="tituloPergunta" value="<%= pergunta.titulo %>">

                    <button type="submit" class="close" aria-label="Close" id="CloseButton">
                            <span aria-hideen="true">&times;</span>
                    </button>

                </form>
                
                <div class="display-4">
                    <%= pergunta.titulo %>
                </div>
                
            </div>

            <div class="list-group-item bg-dark">
                <%= pergunta.descricao %>
            </div>


        </div>
        <form class="form" method="POST" action="/responder">
            <textarea class="textarea form-control border-0 bg-dark w-100 text-light" placeholder="Digite sua resposta aqui" name="corpoResposta"></textarea>

            <div class="list-group-item bg-dark d-flex">
                <button type="submit" class="btn btn-danger ml-auto">Responder</button>
            </div>
            <input id="perguntaId" type="hidden" name="perguntaId" value="<%= pergunta.id %>">
        </form>

        <!-- laço forEach lista todas as respostas vindas do back-end que possuam o ID da pergunta na coluna perguntaID -->
        <% respostas.forEach(resposta => { %>
            <div class="card bg-dark text-light mt-2 ">
                <div class="card-body">
                    <%= resposta.corpo %>
                </div>
                
                
            </div>
        <% }) %>

    </div>

</body>
<%- include partials/scripts.ejs %>
