<!DOCTYPE html>
<!-- Página com formulário para fazer a pergunta-->
<head>
    <%- include partials/header.ejs %>
    <title>Perguntar</title>
</head>

<body>
    <%- include partials/navbar.ejs %>
    
    <div class="container h-100custom">
        <div class="row mx-auto h-100custom">
            <div class="mx-auto my-auto col-12">
                <div class="card border-0">
                    <form method="POST" action="/salvarpergunta">
                        <div class="card-body bg-dark  ">

                            <input class="form-control bg-dark text-light border-0" placeholder="Titulo Da Pergunta" name="titulo">
                            <textarea class="form-control mt-2 bg-dark text-light border-0" placeholder="Pergunta" name="descricao"></textarea>
                            <button class="btn btn-danger mt-2 ml-auto">Perguntar</button>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
        
</body>
<%- include partials/scripts.ejs %>

