body{
    background-color: #303030
}

.navbar{
    margin-bottom: 5vh
}

#paginaPergunta-container .card-body{
    height: 50vh;
}

a, a:visited, a:hover{
    text-decoration: none;
    color: aliceblue;
}

.h-100custom{
    height: 80vh;
}

.fade {
    opacity: 0;
    transition: opacity 1s; 
  }